<html manifest="MB.manifest">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<script src=func.js></script>

<script>

  localStorage.removeItem("new")

  function loadlist(value) {
    value = Number(value);
    var list = document.getElementById("list");
    list.innerHTML = "";
    var n = localStorage.getItem("file").split(",");
    const words = n;
    result = n.filter(word => word.length == value);

    var p1 = "<li style='color:white;background-color:black;margin-bottom:3px;text-align:center;border:1px solid white;margin:3px;overflow:auto;'>"
    var p2 = "<div  id=ffd onclick=removeItem(";
    var p3 = ") style='" + " border-top:1px solid red;" + "' >⛔</div>";


    for (i = 0; i < result.length; i++) {
      list.innerHTML += p1 + result[i] + p2 + i + p3 + "</li>";
    }
  }

  function removeItem(inde) {
    len = result[inde];
    result.splice(inde, 1);
   loadlist(len.split("").length);
    updatelist(len);

  }

</script>







<body style="overflow:hidden;background-color:black;margin:0;user-select:none;">

  <link rel="stylesheet" href="MB.css" type="text/css">

  <meta name="viewport" maximum-scale=1.0, width=device-width, user-scalable=no>
  <div id="dia"
    style="background-color:black;display:none;position:fixed;height:100%;padding:0;border:none;width:100%;color:black;">




    <style>
      body {
        font-family: Arial;
      }

      /* Style the tab */
      .tab {
        overflow: hidden;
        border-bottom: 1px solid white;
        background-color: black;
      }

      /* Style the buttons inside the tab */
      .tab button {
        width: 50%;
        background-color: black;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: green;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: blue;
      }

      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        color: white;
      }
    </style>

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'London')">List</button>
      <button class="tablinks" onclick="openCity(event, 'Paris')">Refine</button>

    </div>

    <div id="London" class="tabcontent">


      <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
      </script>







      <input id="num" type="number" onchange="loadlist(value)" placeholder="number of letters">

      <ul id=list style="list-style-type:none; overflow:auto;float:top;padding:0;margin:0;height:75%;">
        <li
          style='color:white;background-color:black;margin-bottom:3px;text-align:center;border:1px solid white;margin:3px;overflow:auto;'>
          Type a number in the word list and simular results should appear.
        </li>
        </li>
      </ul>








    </div>

    <div id="Paris" class="tabcontent">
    <button style="display:inline" id="set-a">SET</button> <button style="display:inline" onclick="Clearrefine()">Clear</button><br>
    Hitting BOX N: <input type="number" id="filter-num-a"> <br> Letter:<input id="filter-a"> <hr>
    Hitting BOX N: <input type="number" id="filter-num-b">  <br> Letter:<input id="filter-b">
    </div>
  <script src="Refine.js" ></script>
    <button onclick="hideH()"
      style="position:absolute;bottom:0;margin:0;color:white;background-color:red;border:none;height:50px;width:100%;">Return</button>
  </div>


  <div ng-app="myShoppingList" id="app" ng-cloak ng-controller="myCtrl">
    <div style="position:fixed;width:100%;margin:0;padding:0;display:block;overflow:auto;max-height:80%;">

      <ul style="list-style-type: overflow:auto;float:top;padding:0;margin:0;">
        <li ng-repeat="x in products"
          style="color:white;background-color:black;margin-bottom:3px;text-align:center;border:1px solid white;margin:3px;overflow:auto;">
          {{x}}

          <div id="f" ng-click="removeItem($index)" style="border-top:1px solid red;">Remove</div>
        </li>
      </ul>
    </div>


    <div
      style="color:white;position:fixed;width:100%;margin:0;padding:0;display:block;overflow:auto;border:none;border-top:1px solid white;bottom:0%;">

      Word: <Input ng-model="day" id=date></input>

      <div style="color:red;">Err: {{ errortext }}</div>
      <style>
        #f {
          color: red;
        }

        #f:active {
          background-color: red;
          color: black;
        }
      </style>
      <br><br>
      <button ng-click="addItem()" id="asdf"
        style="float:left;color:white;background-color:blue;border:none;height:50px;width:40%;">+</button>
      <button onclick="showH()"
        style="margin:0;color:white;background-color:green;border:none;height:50px;width:20%;">Solve</button>
      <button style="float:right;margin:0;color:white;background-color:red;border:none;height:50px;width:40%;"
        ng-click="clear()">&times</button>
    </div>

  </div>
  <script>

    var input = document.getElementById("date");
    input.addEventListener("keyup", function (event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("asdf").click();
        document.getElementById("date").value = "";
      }
    });




    H = document.getElementById("dia");

    a = document.getElementById("app");

    function showH() {
      H.style.display = "block";
      document.getElementById("app").style.display = "none";
    }

    function hideH() {

      H.style.display = "none";
      document.getElementById("app").style.display = "block";
    }

  </script>
  <script>









    var kpp = angular.module("myShoppingList", []);
    kpp.controller("myCtrl", function ($scope) {
      $scope.errortext;
      $scope.products = [];
      updatelist = function (res) {
        var lis = res;  // result[i];
        var h = $scope.products.indexOf(lis);
        
        // $scope.products.splice(h, 1);
        // localStorage.setItem("file",$scope.products );
        // $scope.products = [localStorage.getItem("file").split(",")];
        $scope.removeItem(h);
      };

      $scope.addItem = function (item) {
        if (item != undefined) {
          $scope.products.push(item);
        } else {

          obj = document.getElementById("date").value;// $scope.day;
          var n = obj.split(" ");
          if (!document.getElementById("date").value) { $scope.errortext = "Put something!"; return }
          for (var i = 0; i < n.length; i++) {



            $scope.errortext = "";

            if ($scope.products.indexOf(n[i]) == -1) {
              $scope.addItem(n[i]);
            }
            else { $scope.errortext = "Aleady in word bank!"; return }




          }
          localStorage.setItem("file", $scope.products);
        }

        $scope.removeItem = function (x) {
          $scope.errortext = "";
          $scope.products.splice(x, 1);
          localStorage.setItem("file", $scope.products);

        }
      }

      $scope.clear = function () {
        $scope.products = []; $scope.errortext = "";
        localStorage.removeItem("file");
      }

      if (localStorage.getItem("file") != null) {

        $scope.errortext = "";
        var n = localStorage.getItem("file").split(",");
        if (n != "") {
          for (var i = 0; i < n.length; i++) {
            $scope.addItem(n[i]);
          }
        }
      }


    });
  </script>
